<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-1e_3MBNV6N6USSVTuBKKcrwX3hL6-3E</string>
	<key>GCM_SENDER_ID</key>
	<string>782722980697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Meds</string>
	<key>PROJECT_ID</key>
	<string>astro-test-bfdd4</string>
	<key>STORAGE_BUCKET</key>
	<string>astro-test-bfdd4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782722980697:ios:f201dab2ba82bdb0318a48</string>
</dict>
</plist>